* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

body {
    background: #F0EAD2;
}

/* Syle for quote-box class */
.intro {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* This transformation is characterized by a two-dimensional vector. Its coordinates define how much the element moves in each direction. */
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.intro h1 {
    font-size: 75px;
}

.about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* This transformation is characterized by a two-dimensional vector. Its coordinates define how much the element moves in each direction. */
    border-radius: 10px;
    text-align: center;
}

.intro img {
    width: 500px;
    margin-right: 10px;
}