@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

body {
    background: #F0EAD2;
    margin: 0;
    padding: 0;
}

.intro {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

#motto {
    margin-top: 10px;
    color: #ADC178;
}

.intro h1 {
    font-size: 75px;
}

.about {
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

.intro img {
    width: 600px;
    margin-right: 10px;
}

.button {
    background-color: #6c584c; 
    border: none;
    color: white;
    padding: 30px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
    transition-duration: .3s;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #A98467;
}

.button:active {
    background-color: #A98467;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#gs {
    position: absolute;
    top: 75%;
    right: 60%;
}

#lm {
    position: absolute;
    top: 75%;
    left: 60%;
}

.top {
    background-color: #A98467;
    color:rgb(255, 255, 255);
}

h1 {
    text-align: left;
}

.trackers {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: .3s;
    width: 225px;
    height: 150px;
}

#caffeine {
    position: absolute;
    top: 25%;
    left: 10%;
    background-color: #A98467;
    padding: 15px 32px;
}

#water {
    position: absolute;
    bottom: 25%;
    left: 10%;
    background-color: #67A5A9;
    padding: 15px 50px;
}

#caffeinenum {
    background-color: #8ED7A7;
    border-radius: 4px;
    height: 60px;
    text-align: center;
}

#waternum {
    background-color: #8EBDD7;
    border-radius: 4px;
    height: 60px;
    text-align: center;
}

.chart img {
    width: 400px;
    margin-right: 10px;
    position: absolute;
    bottom: 25%;
    left: 36%;
    background-color: #99A0A1;
    padding: 40px 40px;
    border-radius: 40px;
}

.top {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}

.inputbuttons img {
    background-color: #6C584C;
    padding: 5px;
    border-radius: 4px;
}

.inputbuttons img {
    background-color: #6C584C;
    padding: 40px 40px;
    border-radius: 100px;
    width: 175px;
}

#scan {
    position: absolute;
    top: 25%;
    left: 80%;
}

#upload {
    position: absolute;
    bottom: 25%;
    left: 80%;
}

.icons {
    padding: 4px;
    background-color: #6c584c;
    border-radius: 4px;
    width: 40px;
}

.learn {
    position: absolute;
    text-align: center;
    color:rgb(255, 255, 255)
}

#heading {
    text-align: center;
    color: black;
    font-size: 75px;
    margin-top: 50px;
}

.aboutboxes {
    background: #6C584C;
    padding: 50px;
    margin-top: 110px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 40px;

}

#imgtop {
    width: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

.aboutheads {
    color: #ADC178;

}

.alert {
    margin-top: 70px;
}
#caffeineChart-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw; /* Adjust the width as needed */
    height: 40vh; /* Adjust the height as needed */
}

#waterChart-container {
    margin-top:60vh;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw; /* Adjust the width as needed */
    height: 40vh; /* Adjust the height as needed */
}

#currentDay{
    color:#6C584C;
    margin-top:5rem;
    text-align: center;
}

#file-upload {
    margin-top:40vh;
    margin-left: 70vw;
}