* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
    
}

body {
    background: #F0EAD2;
    margin: 0;
    padding: 0;
}

.intro {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.intro h1 {
    font-size: 75px;
}

.about {
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    border-radius: 10px;
    text-align: center;
}

.intro img {
    width: 550px;
    margin-right: 10px;
}

.button {
    background-color: #6c584c; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: .3s;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #A98467;
}

.button:active {
    background-color: #A98467;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#gs {
    position: absolute;
    top: 75%;
    right: 60%;
}

#lm {
    position: absolute;
    top: 75%;
    left: 60%;
}

.top {
    background-color: #A98467;
    color:rgb(255, 255, 255);
}

h1 {
    text-align: left;
    font-size: 10px;
}

.trackers {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: .3s;
}

#caffeine {
    position: absolute;
    top: 25%;
    left: 10%;
    background-color: #A98467;
    padding: 15px 32px;
}

#water {
    position: absolute;
    bottom: 25%;
    left: 10%;
    background-color: #67A5A9;
    padding: 15px 50px;
}

#caffeinenum {
    background-color: #8ED7A7;
    border-radius: 4px;
}

#waternum {
    background-color: #8EBDD7;
    border-radius: 4px;
}

.chart img {
    width: 400px;
    margin-right: 10px;
    position: absolute;
    bottom: 25%;
    left: 36%;
    background-color: #99A0A1;
    padding: 40px 40px;
    border-radius: 40px;
}

.top {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputbuttons img {
    background-color: #6C584C;
    padding: 5px;
    border-radius: 4px;
<<<<<<< HEAD
>>>>>>> 0c0f1bb70078684a8cf6240d1578194b1fa6d27d
=======
}

.inputbuttons img {
    background-color: #6C584C;
    padding: 10px 10px;
    border-radius: 100px;
    width: 100px;
}

#search {
    position: absolute;
    bottom: 20%;
    left: 80%;
}

#scan {
    position: absolute;
    bottom: 60%;
    left: 80%;
>>>>>>> main
}